
body{
    background-color:  hsl(258, 88%, 10%);
    
}



.card-container{
   display: inline-block;

    

 
    
}
.main-card{
    position: relative;
    Height: 600px;
    width: 350px;
    background-color: hsl(271, 30%, 17%);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 90px;
    border-radius: 6%/4%;
    
}
.image1{
    background-image: url(./img/img-2.jpg);
}

.image2{
background-image: url(./img/img-3.jpg);
}
.image3{
    background-image: url(./img/img-4.jpg);
}
.image4{
    background-image: url(./img/img-5.png);
}



.image1, .image2, .image3, .image4{
    width: 302px;
    height: 302px;
    background-size: cover;
    border-radius:6%/4% ;
    margin: 25px;
    transform: translateY(25px);
    
}

.image:hover::before{
    content: " ";
    width:302px;
    height: 302px;
    background-color: hsl(135, 13%, 6%);
    border-radius:6%/4%;
    filter: opacity(50%);
    position: absolute;   

}
.image:hover::after{
    content: url(icon-view.svg);
    position: absolute;
    left: 43%;
    top: 43%;
}
.bottom-image{
    margin-top: 22px;
    margin: 25px;
    transform: translateY(25px);
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}

.card-title{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 22px;

}
.card-title:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
    
}
.card-description{
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%);


}
.price-time{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time{
    color: hsl(215, 51%, 70%); 
   
    
}

.price{
    color: hsl(178, 100%, 50%);
    font-weight: 700;
    
}
.price-image , .time-image{
    display: flex;
    align-items: center;
    margin-right: 5px;
    
}

.price-image img, .time-image img{
    display: flex;
    align-items: center;
    margin-right: 5px;
    
}

.line{
    margin-top: 25px;
    height: 2px;
    width: 300px;
    background-color: hsl(215, 32%, 27%);
}
.author{
    display: inline-block;
    
   
}
.author-name{
    color:white;
}
.author-name::hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.author-create{
    margin-left: 60px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
}

.author-img{
    height: 35px;
    width: 35px;
    background-image: url(https://prnt.sc/PR9di1K8wyDK);
    background-size: cover;
    margin-top: 16px;
}

@media (max-width: 376px) {
    
    .card-container{
        max-width: 320px;
    }
    .image1, .image2, .image3, .image4{
        width: 275px;
    } 
    .line{
        width: 280px;
    }  
}
    


