

body{
    background-color: hsla(0, 0%, 17%, 0.979);
}

.card-container {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1200px;
    margin: auto;
   
   
}

.main-card {
    position: relative;
    height: 600px;
    width: 350px;
    background-color: hsl(0, 0%, 23%);
    margin:50px auto 50px;
    border-radius: 6%/4%;
}

.image-main {
    width: 302px;
    height: 302px;
    border-radius: 6%/4%;
    margin-left: 25px;
    transform: translateY(25px);
}

.main-card:hover::before {
    content: " ";
    width: 350px;
    height: 350px;
    background-color: hsl(135, 13%, 6%);
    border-radius: 6%/4%;
    filter: opacity(10%);
    position: absolute;   
}

.main-card:hover::after {
    content: url(icon-view.svg);
    position: absolute;

}

.bottom-image {
    margin: 25px;
    transform: translateY(25px);
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}

.card-title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 22px;
}

.card-title:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;   
}

.card-description {
    font-weight: 300;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.price-time {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time {
    color: hsl(215, 51%, 70%); 
}

.price {
    color: hsl(178, 100%, 50%);
    font-weight: 700;
}

.price-image, .time-image {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.price-image img, .time-image img {
    display: flex;
    align-items: center;
    margin-right: 5px; 
}

.line {
    margin-top: 25px;
    height: 2px;
    width: 300px;
    background-color: hsl(215, 32%, 27%);
}

.author {
    display: inline-block; 
}

.author-name {
    color: white;
}

.author-name::hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.author-create {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 40px;
}

@media (max-width: 376px) {
    
    .card-container{
        max-width: 320px;
    }
    .image{
        width: 275px;
    } 
    .line{
        width: 280px;
    }  
}
    


